@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
}

.green{
    color: #399967 !important;
}
.red{
    color: #e3815f !important;
}
.orange{
    color: #faa224 !important;
}
.bg-green{
    background-color: #399967 !important;
}
.bg-red{
    background-color: #e3815f !important;
}
.bg-orange{
    background-color: #faa224 !important;
}
.jumbotron-green{
    background-color: #fff;
    border: 2px solid #399967;
    padding: 32px;
}
.jumbotron-red{
    background-color: #fff;
    border: 2px solid #e3815f;
    padding: 32px;
}
.jumbotron-orange{
    background-color: #fff;
    border: 2px solid #faa224;
    padding: 32px;
}
.btn-green{
    background-color: #399967;
    color: #fff;
}
.btn-orange{
    background-color: #faa224;
    color: #fff;
}

#topbar{
    background-color: #399967;
    color: #fff;
    text-align: center;
}

#headerbar {
}
#headerbar h1{
    font-weight: bold;
    font-size: 32px;
    text-align: center;
}

#sidebar li{
    text-align: right;
    
}
#sidebar li a{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: #000;
    font-size: 16px;
}
#sidebar li a:after{
    content:"";
    width:18px;
    height:18px;
    background-color: #399967;
    display: inline-block;
    border-radius: 18px;
    margin-left: 10px;
}
#sidebar li a.after-red:after{
    background-color: #e3815f;
}
#sidebar li a.after-orange:after{
    background-color: #faa224;
}
#sidebar .jumbotron{
    background-color: #399967;
    color: #fff;
    padding: 16px;
}