@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap');
body{
    font-family: 'Montserrat', sans-serif;
}

/**
* Typography
**/
.green{
    color: #399967 !important;
}
.red{
    color: #e3815f !important;
}
.orange{
    color: #faa224 !important;
}
.bg-green{
    background-color: #399967 !important;
}
.bg-red{
    background-color: #e3815f !important;
}
.bg-orange{
    background-color: #faa224 !important;
}
.bg-rose{
    background-color: #f5e6da !important;
}
.jumbotron-green{
    background-color: #fff;
    border: 2px solid #399967;
    padding: 32px;
}
.light-text {
  color: #808080b8;
  font-size: 12px;
  text-decoration: underline;
}
@media (max-width: 767px) {
  .jumbotron-green {
    padding: 0 32px;
  }
}
.jumbotron-red{
    background-color: #fff;
    border: 2px solid #e3815f;
    padding: 32px;
}
.jumbotron-orange{
    background-color: #fff;
    border: 2px solid #faa224;
    padding: 32px;
}
.btn-green{
    background-color: #399967;
    color: #fff;
}
.btn-orange{
    background-color: #faa224;
    color: #fff;
}
.btn-ethiquette {
  margin: 0 auto;
}
h1{
    font-weight: bold;
    font-size: 32px;
    text-align: center;
    margin: 28px 0;
}

/**
* Topbar
**/
#topbar{
    background-color: #399967;
    color: #fff;
    text-align: center;
}

/**
* Header
**/
#header h1{
    font-weight: bold;
    font-size: 32px;
    text-align: center;
    margin: 28px 0;
}
@media (max-width: 767.98px) {
    #header h1{
        font-size: 14px;
        margin: 0;
    }
}
#header .logo{
    width: 96px;
}
#header .three-dots .dot{
    width:10px;
    height:10px;
    background-color: #399967;
    border-radius: 10px;
    display: block;
    margin: 4px 0;
}
#menuModal {
    padding-right: 0 !important;
}
#menuModal .modal-dialog {
    min-width: 100%;
    margin: 0;
}
#menuModal .modal-content {
    min-height: 100vh;
}
#menuModal .logo{
    width: 96px;
}
#menuModal .navbar-brand{
    display: none
}
#menuModal #sidebar li{
    text-align: center;
}
#menuModal #sidebar li a{
    justify-content: center;
}
#menuModal #sidebar hr{
    display: none
}
#menuModal .row-newsletter .offset-3.col-9,
#menuModal .row-social .offset-3.col-9{
    margin-left: 0;
    max-width: 100%;
    flex: 0 0 100%;
}

/**
* Sidebar
**/
#sidebar li{
    text-align: right;
}
#sidebar li a{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: #000;
    font-size: 14px;
}
#sidebar li a.active{
    font-weight: bold;
}
#sidebar li a:after{
    content:"";
    width:14px;
    height:14px;
    background-color: #399967;
    display: inline-block;
    border-radius: 14px;
    margin-left: 10px;
}
#sidebar li a.after-red:after{
    background-color: #e3815f;
}
#sidebar li a.after-orange:after{
    background-color: #faa224;
}
#sidebar .jumbotron{
    color: #fff;
    padding: 8px 16px;
    font-size: 13px;
}



/**
* Footer
**/
.footer{
    background-color: #f5e6da
}
footer .jumbotron{
    color: #fff;
    padding: 8px 16px;
    font-size: 13px;
}

/**
* Page: Quizz
**/
#page-quizz .circle{
    margin: 0 auto;
    border-radius: 180px;
    width: 180px;
    height: 180px;
    background-color: #f5e6da;
    padding: 15px;
}
#page-quizz .logo-partner{
    max-width: 120px;
}
#page-quizz .bg-rose .list li{
    list-style-position: inside;
    margin-bottom: 10px;
}
#page-quizz .fieldset{
    border: 1px solid #000;
    padding: 20px 15px;
    position: relative;
    height: 100%;
}
#page-quizz .fieldset .legend{
    position: absolute;
    top: -12px;
    left: 0;
    white-space: nowrap;
    width: 100%;
    text-align: center;

}
#page-quizz .fieldset .legend > span{
    padding: 0 5px;
    background-color: #fff;
    display: inline-block;
}
#page-quizz .fieldset .legend.two-lines{
    top: -24px;
}

/**
* Page: Moteur de recherche
**/
#page-moteur-de-recherche h1{
    font-weight: bold;
    font-size: 32px;
    text-align: center;
    margin: 28px 0;
    padding: 5px;
}
#page-moteur-de-recherche #selectObjects + button {
    width: auto;
    background-color: #f5e6da !important;
    color: #e3815f !important;
}
#page-moteur-de-recherche #selectObjects + button + .dropdown-menu {
    width: auto;
    min-width: auto;
}
/*
  Illustrations
 */
 .illustration-icon {
   width: 15%;
 }
 .illustration-icon.paris {
   width: 50%;
 }
 .separation-illustration {
   max-width: 10%;
 }
 @media (max-width: 767px) {
   .illustration {
     max-width: 50%;
   }
 }
 .team-photo {
   width: 50%;
 }
 .img-besoin img {
   width: 40%;
 }
 @media (max-width: 767px) {
   .besoin {
     display: block !important;
   }
   .img-besoin img {
     width: 20%;
   }
 }
